body, html {
    background-color: transparent;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'SauceCodePro Nerd Font', monospace;
    font-size: 200%;
    font-weight: bolder;
    -webkit-text-stroke: 2px black;
    text-shadow: black 7px 7px 3px;
}

#timer-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 100%;
}

#countdown-text {
    font-size: 125%;
    margin-bottom: 10px;
}

#countdown-text::after {
    /* Counter icon */
	content: '\F0199';
	padding-left: 0.5em;
}

#timer {
    font-size: 250%;
    line-height: 1;
}
